header {
    display: block;
}

.Header {
    float: left;
    width: 100%;
    padding: 0.5em 0;
}

.Header h1 {
    font-family: Arial, sans-serif;
    color: #6a4aed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}

div.header-line {
    box-sizing: border-box;
    margin: 0 auto;
    width: 25rem;
    background-color: white;
    padding: 30px;
    /* padding bottom 60px */
    text-align: center;
}

.full-width-header {
    position: relative;
    margin: 0 -30px;
    padding: .25rem 30px;
    background: white;
    color: white;
    font-size: 1.125rem;
}

.full-width-header::before, .full-width-header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 960px;
    right: 100%;
    background-color: red;
}

.full-width-header:after {
    width: 960px;
    left: 100%;
    background: blue;
}

/* tu fali */

/* Tabovi */
.tabs-container {
    position: relative;
    background: #2652cc;
    width: 120px;
    height: 100vh;
    float: left;
    z-index: 20;
}

/* imena tabova */
.tabs-container label {
    position: relative; /* postavljamo pozicija na relativnu poziciju od nadređenog elementa */
    padding: 10px; /* prosirujemo sam menu element po nasim potrebama */
    border-bottom: 1px solid greenyellow; /* ispod svakog elementa postavljamo obrub */
    display: block; /* zelimo da svaki element zauzima cijelu sirinu menija */
    font-size: 13px; /* velicina fonta u meniju */
    color: whitesmoke; /* postavljamo boju teksta */
    cursor: pointer; /* postavljamo kursor */
    user-select: none; /* oznacava da li tekst moze biti oznacen */
}

/* Hover efekt */
.tabs-container label:hover{
    background: darkslateblue;
}

/* Sakrivanje radio optione od kirisnika */
input[name="tab"]{
    display: none;
}


/* Content area for tabs*/
.tabs.content{
    position: relative;
    background: #eee;
    width: calc(100% - 120px); /* Kalkuliramo sirinu u odnosu na isrinu koju smo definirali za sirinu menija */
    min-height: 100vh;
    padding: 15px;
    float: left;
    box-sizing: border-box;
    z-index: 19;
    display: none;
}

/* Prikazi tab kada je input oznacen sa checked */
input[name="tab"]:checked + .tabs.content{
    display: block;
    animation: slide 0.5s forwards
}

.tabs-container::after{
    content: "";
    clear: both;
}

/* Hover efekt */
.tabs-container label:hover{
    background: darkslateblue;
}

/* Slide animacija pojavljivanja za sadržaj taba */
@keyframes slide{
    from{
        left: -100%;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}